/**
 * ----------------------------------------------------------------------------------------
 * Mixins
 * ----------------------------------------------------------------------------------------
*/
/**
 * ----------------------------------------------------------------------------------------
 * Variables
 * ----------------------------------------------------------------------------------------
*/
/**
 * ----------------------------------------------------------------------------------------
 * Preloader styles
 * ----------------------------------------------------------------------------------------
*/
.loader {
  width: 7.3333333333em;
  height: 7.3333333333em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.loader-block {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0;
  width: 2.45em;
  height: 2.45em;
  border-radius: 7px;
  background: #6eabe6;
  -webkit-animation: show 0.88s step-end infinite alternate, pulse 0.88s linear infinite alternate;
  animation: show 0.88s step-end infinite alternate, pulse 0.88s linear infinite alternate;
}
.loader-block:nth-child(1) {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-animation-delay: 0.065s;
  animation-delay: 0.065s;
}
.loader-block:nth-child(2) {
  -webkit-transform: translate(2.6666666667em, 0);
  -moz-transform: translate(2.6666666667em, 0);
  transform: translate(2.6666666667em, 0);
  -webkit-animation-delay: 0.13s;
  animation-delay: 0.13s;
}
.loader-block:nth-child(3) {
  -webkit-transform: translate(5.3333333333em, 0);
  -moz-transform: translate(5.3333333333em, 0);
  transform: translate(5.3333333333em, 0);
  -webkit-animation-delay: 0.195s;
  animation-delay: 0.195s;
}
.loader-block:nth-child(4) {
  -webkit-transform: translate(0, 2.6666666667em);
  -moz-transform: translate(0, 2.6666666667em);
  transform: translate(0, 2.6666666667em);
  -webkit-animation-delay: 0.325s;
  animation-delay: 0.325s;
}
.loader-block:nth-child(5) {
  -webkit-transform: translate(2.6666666667em, 2.6666666667em);
  -moz-transform: translate(2.6666666667em, 2.6666666667em);
  transform: translate(2.6666666667em, 2.6666666667em);
  -webkit-animation-delay: 0.13s;
  animation-delay: 0.13s;
}
.loader-block:nth-child(6) {
  -webkit-transform: translate(5.3333333333em, 2.6666666667em);
  -moz-transform: translate(5.3333333333em, 2.6666666667em);
  transform: translate(5.3333333333em, 2.6666666667em);
  -webkit-animation-delay: 0.455s;
  animation-delay: 0.455s;
}
.loader-block:nth-child(7) {
  -webkit-transform: translate(0, 5.3333333333em);
  -moz-transform: translate(0, 5.3333333333em);
  transform: translate(0, 5.3333333333em);
  -webkit-animation-delay: 0.39s;
  animation-delay: 0.39s;
}
.loader-block:nth-child(8) {
  -webkit-transform: translate(2.6666666667em, 5.3333333333em);
  -moz-transform: translate(2.6666666667em, 5.3333333333em);
  transform: translate(2.6666666667em, 5.3333333333em);
  -webkit-animation-delay: 0.26s;
  animation-delay: 0.26s;
}
.loader-block:nth-child(9) {
  -webkit-transform: translate(5.3333333333em, 5.3333333333em);
  -moz-transform: translate(5.3333333333em, 5.3333333333em);
  transform: translate(5.3333333333em, 5.3333333333em);
}

@-webkit-keyframes show {
  from, 40% {
    opacity: 0;
  }
  41%, to {
    opacity: 1;
  }
}
@keyframes show {
  from, 40% {
    opacity: 0;
  }
  41%, to {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  from, 40% {
    background: #192251;
  }
  to {
    background: #757a96;
  }
}
@keyframes pulse {
  from, 40% {
    background: #192251;
  }
  to {
    background: #757a96;
  }
}
